
body{
	margin:0;
	font-family:helvetica;
	font-size:22px;
	color:seashell;
	text-align:center;
	background-color:black;
}


header{
	display:flex;
	height:69px;
	border-bottom:1px solid seashell;
	background-color:black;
	position:fixed;
	width:100%;
	align-items:center;
	z-index:1;
}

header img{
	padding-left:10px;
	height:50px;

}

header nav{
	text-align:right;
	flex:1;
}

header span{
	padding:20px 10px;

}

a{
	color:seashell;
}
h2,h3, h4{
	margin:0;
	padding: 10px;
}


.main{
	margin-top:5px;
	display:flex;
	flex-direction:column;
}


#mission{
	padding-top: 70px;
	display:flex;
	height:700px;
	background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg)

}

.text{
	margin:auto;
	background-color:black;
	width:100%;
}

#feature{
	height:700px;
	width:1000px;
	margin:auto;
	padding-top:70px;
}

.special{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.item{
	margin:5px;
}

.item img{
	
	height:200px;
	margin:10px;
}

.item span{
	display:block;
	padding:5px;
	font-weight:bold;
}


#location{
	padding-top:70px;
	height:500px;
	background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);

}

.map{
	display:flex;
	padding-top:5px;
	justify-content: center;

}

.loca{
	display:flex;
	opacity:1.0;
	padding:10px;
	margin:5px 20px;
	flex-flow:column wrap;
	flex-basis:300px;
	background-color:black;
}


.contact{
	height:200px;
}

footer{
	text-align:left;
	margin-left:20px;
}










